$primary-color: rgb(255, 255, 255);
$secondary-color: #cecdcd;
$logo-color: rgb(53, 136, 230);
$logo-color-hover: rgb(35, 101, 176);

$background-color: rgb(0, 0, 0);
$navbar-background-color: rgba(0, 0, 0, 0.85);
$error-background-color: rgba(255, 128, 0, 0.85);


$medium-screen: 1170px;
$medium-small-screen: 900px;
$small-screen: 400px;
//$small-screen: 300px;