@import "./mixins";
@import "./maps";
@import "./variables";

.bannerWrapper {
  @include flex(row, center, flex-start);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url('../assets/banner5.jpg');
  background-repeat: no-repeat;
  background-blend-mode:darken; 
  background-size: cover;
  min-height: 70vh; 
  //padding-top: 30vh;
}

.bannerTitle {
  font-size: 4rem;
  color: $secondary-color;
  font-family:  Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  text-shadow: 0 1px 0 #00000030;
  margin: 7rem auto;
}
