@import "./mixins";
@import "./maps";
@import "./variables";

.bannerWrapper {
  @include flex(row, center, flex-start);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/banner5.jpg");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  //padding-top: 30vh;
  @media screen and (max-width: $medium-screen) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.4)
      ),
      url("../assets/banner5Ipad.jpg");    
  }
  @media screen and (max-width: $smallest-screen) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.4)
      ),
      url("../assets/banner5Phone.jpg");    
  }
}

.bannerTitle {
  font-size: map-get($font-size, "x-large");
  color: $secondary-color;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  text-shadow: 0 1px 0 #00000030;
  margin: 5rem auto;
 
  @media screen and (max-width: $big-medium-screen) {
    font-size: map-get($font-size, "x-large");
    margin: 4rem auto;
  }
  @media screen and (max-width: $medium-screen) {
    font-size: map-get($font-size, "large");
    margin: 3rem auto;
  }
  @media screen and (max-width: $smallest-screen) {
    ont-size: map-get($font-size, "medium");
    margin: 2rem auto;
  }
}
