@import "./mixins";
@import "./maps";
@import "./variables";

.cartIcon {
  font-size: map-get($font-size, "medium");
  @media screen and (max-width: $medium-small-screen) {
    font-size: map-get($font-size, "small");
  }
}

.cartWrapper {
  margin-top: 2rem;
  color: $logo-color;
}

.cartCount {
  padding-left: 0.2rem;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  margin: 25vh auto;

  @media screen and (max-width: $big-medium-screen) {
    width: 70%;    
  }
  @media screen and (max-width: $medium-screen) {
    width: 75%; 
  }
  @media screen and (max-width: $medium-small-screen) {
    width: 70%;   
  }
  @media screen and (max-width: $small-screen) {
    width: 80%;   
  }
   @media screen and (max-width: $smallest-screen) {
    width: 90%;   
  }
}

.cartTitleMain{
  color: $secondary-color;
  font-weight: bold;
  font-size: map-get($font-size, "x-large");
  margin: 3rem 2rem 3rem 3rem;
  @media screen and (max-width: $medium-small-screen) {
    font-size: map-get($font-size, "large");
    margin-bottom: 2rem;
  }
  @media screen and (max-width: $smallest-screen) {
    font-size: map-get($font-size, "large");
    margin: 0;
  }
}
.cartViewWrapper {
  @include flex(row, flex-start, center);
  border-bottom: 1px solid rgb(43, 41, 41);
  padding: 1.5rem;
  @media screen and (max-width: $medium-small-screen) {
    @include flex(column, space-evenly, flex-start);   
  }
}

.cartImg {
  height: 200px;
  width: 300px;
  border-radius: 0.5rem;
  @media screen and (max-width: $medium-small-screen) {
    height: 150px;
    width: 250px;
    margin-left: 3rem;
  }
}

.cartInfoWrapper {
  @include flex(column, space-evenly, space-evenly);
  margin-left: 2rem;
}

.cartInfoTop {
  @include flex(column, space-between, flex-start); 
  padding: 1rem;

 
}

.cartTitle {
  color: $primary-color;
  font-size: map-get($font-size, "large");
  padding-bottom: .5rem;

  @media screen and (max-width: $medium-screen) {
    font-size: map-get($font-size, "medium"); 
  }

 
}

.cartPrice {
  color: $primary-color;
  font-size: map-get($font-size, "medium");
  font-weight: lighter;
  
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: $medium-screen) {
    font-size: map-get($font-size, "small"); 
  }
}

.trash{
  color: $logo-color;
  &:hover{
    color: $logo-color-hover
  }
}

.cartExtraInfo {
  color: $primary-color;
  font-size: map-get($font-size, "medium");
  font-weight: lighter;
  @media screen and (max-width: $medium-screen) {
    font-size: map-get($font-size, "x-small"); 
  }
}
.cartInfoBottom {
  @include flex(row, space-between, center);
  padding: 1rem;
}

.cartCheckoutWrapper {
  @include flex(column, space-evenly, flex-start);
  margin: 3rem 0 3rem 4rem;
}

.cartCheckoutData {
  color: $primary-color;
  font-size: map-get($font-size, "medium");
  margin: 0.5rem;
}

.cartCheckoutButton {
  width: 50%;
  cursor: pointer;
  font-size: map-get($font-size, "x-small");
  font-weight: 500;
  border-radius: 5px;
  border: none;
  color: $primary-color;
  background-color: $logo-color;
  margin-top: 1rem;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: $logo-color-hover;
  }
}

.cartNoGames {
  color: $logo-color;
  width: 50%;
  height: 200px;
  margin: auto;
}

.noGamesTitle {
  font-size: map-get($font-size, "medium");
  margin: 85px auto;
  text-align: center;
  width: 50%;
}

.HistoryTitle {
  margin: 1rem;
  text-align: center;
  color: $logo-color;
}
