@import "./mixins";
@import "./maps";
@import "./variables";

.editProductsWrapper{
    @include flex(row, space-around, center);    
    margin: 10rem 2rem;
}

.dataSheetWrapper{
    width: 50%;    
    margin: 10rem 2rem;
    
}

.editProductTitle{
    color: $primary-color;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.editProductImg{
    height: 300px;
    width: 400px;
    margin-left: 3rem;
}