@import "./mixins";
@import "./maps";
@import "./variables";

.gridContainer{
    margin: 10rem auto 10rem auto;  
    width: 90%;  
}

.gridTitle{
    color: $secondary-color;
    font-weight: bold;
    font-size: map-get($font-size, "x-large");
    margin: 3rem 0;
    @media screen and (max-width: $medium-small-screen) {
        font-size: map-get($font-size, "large");
        margin-bottom:  2rem;
      }
      @media screen and (max-width: $smallest-screen) {
        font-size: map-get($font-size, "medium");
        margin: 0;
      }
}
.gridImage{
    width: 100%;
    height: 300px;
    border-radius: .5rem;
}