@import "./mixins";
@import "./maps";
@import "./variables";

.loginConteiner {
  background-image: url(../assets/login2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding-top: 15vh; 
  height: 100vh;
}

.loginForm {  
  width: 40%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  padding: 50px 35px;
  border-radius: 10px;
  @include flex(column, space-evenly, center);
  backdrop-filter: blur(10px);
  @media screen and (max-width: $medium-small-screen) {
    width: 70%;
  }
  @media screen and (max-width: $small-screen) {
    width: 90%;
    padding: 1rem;
  }
}







